
#doctor {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

#doctor>div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

@media (max-width: 800px) {
  #doctor {
    flex-direction: column;
  }
}


